-r requirements.txt
pre-commit==3.3.3
flake8==6.0.0
black==23.3.0
mypy==1.5.1
types-cachetools==5.3.0.5
types-cryptography==3.3.23.2
types-enum34==1.1.8
types-ipaddress==1.0.8
types-pkg-resources==0.1.2
types-requests==2.31.0.1
