appdirs==1.4.4
cachetools==4.2.2
certifi==2021.5.30
cfgv==3.3.0
chardet==4.0.0
click==8.0.1
distlib==0.3.2
filelock==3.0.12
Flask==2.0.1
gunicorn==20.1.0
identify==2.2.10
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
nodeenv==1.6.0
PyYAML==5.4.1
requests==2.25.1
six==1.16.0
sodapy==2.1.0
toml==0.10.2
typing-extensions==3.10.0.0
urllib3==1.26.5
virtualenv==20.4.7
Werkzeug==2.0.1
