<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>1-312-Hows-My-Driving</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="/public/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
<header>
    <h1>
        1-312-Hows-My-Driving
    </h1>
</header>

{% block content %}{% endblock %}

<footer>
    <a href="{{ data_source }}"><b>View the source data</b></a>
    <br/>
    <br/>
    <a href="http://twitter.com/TechBlocSEA">If I break message TechBloc</a>
</footer>

</body>
</html>
