<!DOCTYPE html>
<html>
<head>
    <title>1-312-Hows-My-Driving</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://gomix.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
<header>
    <h1>
        1-312-Hows-My-Driving
    </h1>
</header>

<main>
    <div>
        <form action="/license" class="form_override">
            <button type="submit">Vehicles</button>
        </form>
        <form action="/name" class="form_override">
            <button type="submit">Officers</button>
        </form>
    </div>
    <p class="bold">{{ title }}</p>
    <p>Wildcards can be used in specified fields. Use _ for single characters or % for multiple characters.</p>
    <p><i>E.g. ("Miss_ng" will find "Missing", "Miss%" will find "Missing")</i></p>
    <form action="/{{ lookup_url }}" method="GET">
        {% for entity in entities %}
            <input id="{{ entity.query_param }}" name="{{ entity.query_param }}" placeholder="{{ entity.entity_name_short }}">
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
    <section class="dreams">
        {{ entity_html | safe }}
    </section>
</main>

<footer>
    <a href="{{ data_source }}"><b>View the source data</b></a>
    <br/>
    <br/>
    <a href="http://twitter.com/AetherUnbound">If I break message my mom</a>
</footer>

</body>
</html>
