<!DOCTYPE html>
<html>
<head>
    <title>1-312-Hows-My-Driving</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="/public/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
<header>
    <h1>
        1-312-Hows-My-Driving
    </h1>
</header>

<main>
    <div>
        <form action="/license" class="form_override">
            <button type="submit">Vehicles</button>
        </form>
        <form action="/name" class="form_override">
            <button type="submit">Officers</button>
        </form>
    </div>
    <p class="bold">{{ title }}</p>
    {% if dataset_select is not defined %}
    <p>Wildcards can be used in specified fields. Use _ for single characters or % for multiple characters.</p>
    <p><i>E.g. ("Miss_ng" will find "Missing", "Miss%" will find "Missing")</i></p>
    {% else %}
    <div class="field-note">
        <p><i><u>Note:</u> Strict searching must be checked for these fields to use non-fuzzy matching:</i></p>
        <ul>
            {% for entity in entities %}
                {% if entity.fuzzy %}
                <li>{{entity.entity_name}}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <form action="/{{ lookup_url }}" method="GET">
        {% if dataset_select is defined %}
        <label for="dataset_select">Select a dataset:
            <select id="dataset_select" name="dataset_select" onchange="this.form.submit();">
                {% for dataset in datasets %}
                    <option value="{{ dataset.id }}" {{ "selected" if dataset_select == dataset.id }}>{{ dataset.name }}</option>
                {% endfor %}
            </select>
        </label>
        <br/>
        {% endif %}
        {% if strict_search is defined %}
        <label for="strict_search">
            <input
                type="checkbox"
                id="strict_search"
                name="strict_search"
                value="strict_search"
                class="checkmark"
                {{ "checked" if strict_search else "" }}
            />
            Enable strict searching
        </label>
        {% endif %}
        {% for entity in entities %}
            <input
                id="{{ entity.query_param }}"
                class="entity-input"
                name="{{ entity.query_param }}"
                placeholder="{{ entity.entity_name }}"
                value="{{ request.args.get(entity.query_param, '') }}"
            />
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
    <section class="dreams">
        {{ entity_html | safe }}
    </section>
</main>

<footer>
    <a href="{{ data_source }}"><b>View the source data</b></a>
    <br/>
    <br/>
    <a href="http://twitter.com/TechBlocSEA">If I break message TechBloc</a>
</footer>

</body>
</html>
