<!DOCTYPE html>
<html>
<head>
    <title>1-312-Hows-My-Driving</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://gomix.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
<header>
    <h1>
        1-312-Hows-My-Driving
    </h1>
</header>

<main>
    <div>
        <form action="/" class="form_override">
            <button type="submit">Licenses</button>
        </form>
        <form action="/badge" class="form_override">
            <button type="submit">Names</button>
        </form>
    </div>
    <p class="bold">{{ title }}</p>
    <p>Enter in a {{ entity_name_long }}</p>
    <form id="main_form">
        <input type="text" maxlength="100" placeholder="{{ entity_name_short }}">
        <button type="submit">Submit</button>
    </form>
    <section class="dreams">
        <div id="{{ entity }}">

        </div>
    </section>
</main>

<footer>
    <a href="{{ data_source }}"><b>View the source data</b></a>
    <br/>
    <br/>
    <a href="http://twitter.com/AetherUnbound">If I break message my mom</a>
</footer>


<!-- Your web-app is https, so your scripts need to be too -->
<script src="https://code.jquery.com/jquery-2.2.1.min.js"
        integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
        crossorigin="anonymous"></script>
<script>
$(function() {
  $('#main_form').submit(function(event) {
    event.preventDefault();
    var entity = $('input').val();
    $.post('/{{ lookup_url }}?' + $.param({'entity': entity}), function(data) {
      console.log('Data: ' + data);
      $('#{{ entity }}').html(data);
      $('input').val('');
      $('input').focus();
    });
  });

});
</script>

</body>
</html>
