<p><b>Badge #:</b> <i>badge numbers not available at this time</i></p>
<p><b>Name:</b> {{ first_name }} {{ last_name }}</p>
<p><b>Title*:</b> {{ title }}</p>
<p><b>Department*:</b> {{ department }}</p>
<p><b>Salary*:</b> {{ salary }}</p>
<p><i>*Record Source Roster Date: {{ date }}</i></p>