{% for field in metadata.fields %}
{% set value = record.get(field.FieldName) | string %}
    {% if value and value.startswith("http") %}
    <p><b>{{ field.Label }}:</b> <a href="{{ value }}" target="_blank">{{ value }}</a></p>
    {% else %}
    <p><b>{{ field.Label }}:</b> {{ value if value }}</p>
    {% endif %}
{% endfor %}
{{ extras }}
{% if historical_available %}
    <p>A historical view of this officer's records is <a href="/historical-officers/{{record.get('badge')}} ">available here</a>.</p>
{% endif %}
<p><i>*Most recent roster date available: {{ metadata.last_available_roster_date }}</i></p>
