{% for field in metadata.fields %}
<p><b>{{ field.Label }}:</b> {{ record.get(field.FieldName) }}</p>
{% endfor %}
{{ extras }}
<p><i>*Record Source Roster Date: {{ metadata.last_available_roster_date }}</i></p>
