<p><b>Badge #:</b> {{ serial }}</p>
<p><b>Name:</b> {{ name }}</p>
<p><b>Title Description*:</b> {{ title }}</p>
<p><b>Unit Description*:</b> {{ unit }}</p>
{% if job_title %}
<p><b>Job Title:</b> {{ job_title }}</p>
<p><b>Hourly Rate:</b> ${{ hourly_rate }}</p>
<p><b>Projected salary (w/o overtime):</b> ${{ projected }}</p>
{% endif %}
<p><i>*data last updated 11/15/2020</i></p>